.bar-editing-modal.chords-2 {
    width: 500px;
}

.bar-editing-modal.chords-3 {
    width: 600px;
}

.bar-editing-modal.chords-4 {
    width: 700px;
}

.bar-editing-modal.chords-5 {
    width: 800px;
}

.bar-editing-modal.chords-6 {
    width: 900px;
}

.bar-editing-modal.chords-7 {
    width: 1000px;
}

.bar-editing-modal .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}