#play-view {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#play-view .chart-container { 
    display: flex; 
    width: 1040px; 
    min-height: 385px;
    background-color: #ddd;
    flex-direction: column; 
    align-self: center; 
    align-items: center; 

    border-right: solid #222 1px;
    border-left: solid #222 1px;
}