#signup-view .signup-container {
    margin: auto;
    width: 600px;
    margin-top: 20px;
}

#signup-view .form-container {
    padding: 45px 15px 15px;

    height: 375px;
    background-color: #666;

    border: solid #555 2px;
    border-radius: 10px;
}

#signup-view input {
    font-size: 130%;
    margin-left: 10%;
    padding: 10px 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#signup-view input[type="submit"] {
    width: 200px;
    border: 1px solid #666
}

#signup-view input[type="submit"]:hover {
    background-color: #222;
    border: 1px solid white;
    color: white;
}

#signup-view .header-container {
    border-bottom: 1px solid #666 
}

#signup-view h1 {
    font-size: 300%;
}

#signup-view label {
    color: #eee;
    font-size: 125%;
}

#signup-view tr {
    height: 50px;
}

#signup-view a, a:visited {
    color: #eee;    
}

#signup-view a:hover {
    color: #222;
}

#signup-view .error {
    margin-left: 10%;    
    color: #f66;
}

