.nav-container {
    position: relative;
    height: 85px;
    background-color: #222;
}

.nav {
    position: absolute;
    top: 10px;
}

.nav-list {
    width: 50%;
    margin: 0;
    right: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.nav-item {
    font-size: 150%;
    color: #ddd;
    padding: 10px;
}

#logout-link {
    cursor: pointer;
}

#logout-link:hover {
    color: #aaa;
}

.nav-brand {
    left: 10px;
    font-size: 300%;
    color: #ddd;
}
