#chart-viewer {
    width: 1000px;
    min-height: 385px;
    background-color: white;
    border-left: solid #222 1px;
    border-right: solid #222 1px;
    overflow-y: scroll;
    /* border-right: solid white 1px; */
}

#chart-viewer .chart-header {
    display: flex;
    height: 20%;
}

#chart-viewer .song-title {
    font-size: 300%;
    margin: 10px;
    text-decoration: underline;
}

#chart-viewer .line {
    display: flex;
    margin-bottom: 10px;
    height: 50px;
    width: 100%;

    border-top: solid black 1px;    
    border-bottom: solid black 1px;
}

#chart-viewer .left-hand-settings {
    display: flex;
    flex-direction: column;
}

#chart-viewer .left-hand-settings-row {
    display: flex;
    justify-content: space-between;
}

#chart-viewer .left-hand-settings-right {
    margin-left: 5px;
    width: 75px;
}

#chart-viewer .chart-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 100px;
}

#chart-viewer .bar-container {
    display: flex;
    min-width: 25%;
    opacity: 0.2;
    cursor: pointer;
}

#chart-viewer .bar-container.will-be-within-range {
    background-color: #aaa;
}

#chart-viewer .bar-container.will-be-within-range.within-range {
    background-color: #eee;
}

#chart-viewer .bar-container.add-box-precedes,
#chart-viewer .bar-container.add-box-follows {
    width: 22.5%;
} 

#chart-viewer .bar-container.add-box-precedes.add-box-follows,
#chart-viewer .bar-container.add-box-follows.shortened {
    width: 20%;
}

#chart-viewer .bar-container.add-box-precedes.add-box-follows.shortened {
    width: 17.5%;
}

#chart-viewer .within-range {
    opacity: 1;
}

#chart-viewer .current-bar {
    background-color: rgb(181, 213, 255) !important;
}

#chart-viewer .chord-name {
    height: 20px;
    margin: 2px;
    line-height: 20px;
}

#chart-viewer .division-sign {
    text-align: center;
}

#chart-viewer .add-bar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 100px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    font-size: 150%;
}

#chart-viewer .add-bar-box:hover {
    background-color: #222;
    color: white;
}

#chart-viewer .current-chord {
    color: white;
}

#chart-viewer .bar-chord-group {
    display: flex;
    padding: 3px;
    font-size: 130%;
    align-items: center;
}

#chart-viewer .bar-beat-group {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

#chart-viewer .time-signature {
    display: flex;
    flex-direction: column;
    font-size: 150%;
    padding-left: 2px;
}

#chart-viewer .time-signature span {
    line-height: 20px;
    height: 20px;
}

#chart-viewer .chord-shape {
    font-size: 75%;
    letter-spacing: -1px;
}
