#chart-viewer {
    width: 1000px;
    min-height: 385px;
    background-color: white;
    border-left: solid #222 1px;
    border-right: solid #222 1px;
    overflow-y: scroll;
}

#chart-viewer .chart-header {
    display: flex;
    justify-content: center;
    height: 20%;
}

#chart-viewer .song-title {
    font-size: 300%;
    margin: 10px;
    text-decoration: underline;
}

#chart-viewer .line {
    display: flex;
    margin-bottom: 10px;
    height: 50px;
    width: 100%;

    border-top: solid black 1px;    
    border-bottom: solid black 1px;
}

#chart-viewer .chart-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 100px;
}

#chart-viewer .bar-container {
    display: flex;
    cursor: pointer;
}

#chart-viewer .bar-container.will-be-within-range {
    background-color: #aaa;
}

#chart-viewer .bar-container.will-be-within-range.within-range {
    background-color: #eee;
}

#chart-viewer .current-bar {
    background-color: rgb(181, 213, 255) !important;
}

#chart-viewer .chord-name {
    height: 20px;
    margin: 2px;
    line-height: 20px;
}

#chart-viewer .division-sign {
    text-align: center;
}

#chart-viewer .current-chord {
    color: white;
}

#chart-viewer .bar-chord-group {
    display: flex;
    font-size: 130%;
    flex-grow: 20;
    padding: 3px;
    align-items: center;
}

#chart-viewer .bar-buttons {
    width: 100%;
    display: flex;
    padding: 5px;
}

#chart-viewer .bar-beat-group {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

#chart-viewer .time-signature {
    display: flex;
    flex-direction: column;
    font-size: 150%;
    padding-left: 2px;
}

#chart-viewer .time-signature span {
    line-height: 20px;
    height: 20px;
}

#chart-viewer .chord-shape {
    font-size: 75%;
    letter-spacing: -1px;
}

#chart-viewer a:hover {
    cursor: pointer;
}
