#dashboard {
    display: flex;
    justify-content: space-around;
    position: fixed;
    background-color: #ddd;
    min-width: 760px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: solid #222 1px;
    border-left: solid #222 1px;
    border-right: solid #222 1px;
}

#dashboard .play-button,
#dashboard .select-all-bars,
#dashboard .legend {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
}