.form-container {
    /* position: relative; */
    margin: auto;
    margin-top: 20px;

    width: 600px;
    height: 400px;
    background-color: #ddd;

    border: solid #444 1px;
    border-radius: 10px;
}