.nav-container {
    height: 85px;
    background-color: #222;
}

#nav-user-section {
    margin-top: 15px;
}

.user-email {
    color: white;
    font-size: 125%;
}

#logout-link {
    cursor: pointer;
    font-size: 150%;
    margin-left: 10px;
    margin-right: 10px;    
}

#logout-link:hover {
    color: #aaa;
}

.nav-brand {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 300%;
    color: #ddd;
}

#nav-user-section {
    float: right;
}

#tab-list {
    display: inline;
    padding-left: 10px;
}

#tab-list button {
    margin-top: 10px;
    margin-right: 5px;
    background-color: #444;  
    color: #ddd; 

    border: solid grey 2px;
    border-radius: 15px;
    height: 60px;
    width: 100px;

    font-size: 150%;
    text-align: center;
}

#tab-list button:hover {
    background-color: #222;  
    color: white;
}

#tab-list button:hover.active,
#tab-list .active {
    background-color: #ddd;
    color: #222;
}