#create-view {
    display: flex;
    justify-content: center;
    height: 100%;
}

#create-view .central-container { 
    display: flex;
    width: 1040px; 
    min-height: 385px;
    background-color: #ddd;
    justify-content: center; 

    border-right: solid #222 1px;
    border-left: solid #222 1px;
}

#create-view #song-list-container {
    margin: auto;
    background-color: white;
    width: 90%;
    height: 100%;

    border-left: solid 1px #222;
    border-right: solid 1px #222;
}

#create-view #song-list-header {
    height: 15%;
    padding: 20px;
}

#create-view #song-list {
    height: 85%;
    overflow: auto;
}

#create-view .user-title {
    width: 100%;
    height: 50px;
    padding: 5px;
}

#create-view .footer-section {
    position: fixed; 
    display: flex; 
    width: 600px; 
    height: 100px; 
    flex-direction: column;

    justify-content: center; 
    align-items: center; 
    bottom: 0; 
    background-color: #ddd;

    border-top: solid #222 1px;
    border-left: solid #222 1px;
    border-right: solid #222 1px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
