#training-window {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: black;
}

#training-window button {
    border-radius: 10px;
    margin: 5px;
    height: 30px;
    font-size: 120%;
}

#training-window button:hover {
    background-color: #444;
    color: white;
}

#training-window .feedback-window {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#training-window .feedback {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 300%;
}

#training-window .menu-bar {
    display: flex;
}

#training-window .play-mode-select {
    margin: 5px;
    height: 30px;
    margin-left: auto;
    font-size: 120%;
}
