#midi-settings-modal {
    color: #333;
}

#midi-settings-modal .header {
    padding-bottom: 10px;
    border-bottom: solid #222 1px;
}

#midi-settings-modal .header span {
    padding-left: 10px;
    font-size: 220%;
}

#midi-settings-modal .btn {
    font-size: 150%;
    border-radius: 10px;
    /* background-color: #eee */
}

#midi-settings-modal .save {
    background-color: cornflowerblue;
}

#midi-settings-modal .exit-btns {
    display: flex;
    flex-direction: row-reverse;
}

#midi-settings-modal .btn:hover {
    cursor: pointer;
    border: solid #222 1px;
}

#midi-settings-modal .section {
    margin: 15px;
}

#midi-settings-modal .section p {
    font-size: 130%;
    margin-bottom: 15px;
}

#midi-settings-modal input {
    margin: 7px;
}